body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #7F8C51;
    margin: 0;
    padding: 0;
}
.topNav{
    font-size: 35px;
    text-align: center;
    display: block;
    float: right;
    margin-top: 35px;
}
.container{
    background-color: white;
    margin: 0px;
}
.topNav a{
    text-decoration: none;
    color: black;
    margin-block: 20px;
}
.container img{
    padding-left: 0px;
    padding-top: 10px;
}
.topNav a.active{
    color: #8cde3a;
}
.topNav a.inactive:hover{
    animation: highlight 1s;
    color: #D9A13B;
}
@keyframes highlight {
    from{color: black;}
    to{color: #D9A13B;}
}
