body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #7F8C51;
}
.title{
    text-align: center;
}
.title h1{
    color: #D9A13B;
}
.topNav{
    background-color: antiquewhite;
    font-size: 35px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.topNav a{
    display: flex;
    text-decoration: none;
    color: black;
    text-align: center;


}
.topNav a.active{
    background-color: #a52a2a;
    border-left: 200px;
    border-color: #a52a2a;
}
.topNav a:hover{
    background-color: aquamarine;
}
